.app {
  margin: 24px;
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.logo_container {
  width: 70px;
}
.logo {
  border-radius: 7px;
  width: 100%;
}
.navbar > ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navbar > ul > li {
  list-style: none;
  padding: 12px;
  font-size: 24px;
}

/* body */
.body {
  padding: 0px 200px;
}
.search {
  padding: 10px;
}
.res-cards {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
.res-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: #f5f2f2;
  padding: 5px;
  border-radius: 7px;
}
.res-card:hover {
  border: 1px solid grey;
  cursor: pointer;
}
.res_logo {
  width: 100%;
  border-radius: 7px;
  padding-bottom: 8px;
  height: 170px;
}
.res-card > h3,
h4 {
  padding: 2px;
  margin: 0px;
}
.star_timing {
  display: flex;
  align-items: baseline;
  gap: 20px;
}
.star_timing > h3 {
  margin: 0px;
}
.star_timing > span {
  font-size: 12px;
  font-weight: 700;
}
.shimmer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.shimmer-card {
  width: 200px;
  height: 300px;
  background-color: rgb(173, 173, 173);
  padding: 10px;
  border-radius: 4px;
}
